# This file is entirely for the benefit of ReadTheDocs. Don't actually use it
# when trying to install Bridgekeeper.
-e .[dev]
django
setuptools_scm==5.0.2     # We have to pin at v5.0.2 because juniper release uses python 3.5 and latest version removed python 3.5 support
